<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hashlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>568F86861C66DB5600BC46ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568F869A1C66DB5600BC46ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568F86A51C66DB5700BC46ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
